<h1>Enter the Athlete Details:</h1>
<div class="card">
    <form [formGroup]="performance" (ngSubmit)="onSubmit()">
        <!-- For the Date Field -->
        <label for="date">Date: </label>
        <input id="date" type="date" placeholder="Enter date" formControlName="date">

        <!-- For Movement field-->
        <label for="movements">Movement: </label>
        <select id="movements" formControlName="movement">
            <option *ngFor="let opt of movements" [value]="opt.mov_name">{{opt.mov_name}}</option>
        </select>


        <!--For the team name-->
        <label for="team_name">Team Name: </label>
        <select id="team_name" name="selectedOption" formControlName="team_name" (change)="onChange($event)">
            <option *ngFor="let t of teams" [value]="t.team_name">{{t.team_name}}</option>
        </select>

        <!--For athlete name and performance-->
        <div formGroupName="athlete"  *ngFor="let athlete of athletes">
        <input class="specialInput" type="text" placeholder={{athlete.name}} formControlName="athlete_name">
        <input type="number" placeholder="Enter the assessment value" formControlName="assessment">
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>