<div *ngFor="let a of athletes" class="side-by-side">
    <div class="card">
        <img [src]="imgPath" alt="No Image found" class="employee-image">
        <p>{{"Name: " + a.name}}</p>
        <p>{{"Age: " +a.age}}</p>
        <p>{{"Team: " +a.team}}</p>
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editAthlete" (click)="editModal(a)">Edit</button>
        <button class="btn btn-warning" (click)="deleteAthlete(a)">Delete</button>
    </div>
</div>
<div class="addButton">
    <img [src]="imgPath" alt="No Image found" class="employee-image">
    <form [formGroup]="newAthlete">
        <input type="text" placeholder="Enter Name" formControlName="name">
        <input type="text" placeholder="Enter Age" formControlName="age">
        <input type="text" placeholder="Enter Team" formControlName="team">
        <br>
        <button class="btn btn-primary" (click)="addAthlete(newAthlete.value)">Add Athlete</button>
    </form>
</div>

<div class="modal fade" id="editAthlete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Athlete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="addButton">
                    <form [formGroup]="changeAthlete">
                        <input type="text" placeholder="Enter Name" formControlName="name">
                        <input type="text" placeholder="Enter Age" formControlName="age">
                        <input type="text" placeholder="Enter Team" formControlName="team">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="editAthlete()">Update
                    Athlete</button>
            </div>
        </div>
    </div>
</div>